<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tinker.test">

    <application
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme">
        <activity
            android:name=".internal.loader.resource.TestResourceActivity"
            android:exported="false" />
        <service
            android:name=".internal.module.patch.PatchManagerTestMainService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".internal.module.patch.PatchManagerTestOthersService"
            android:enabled="true"
            android:exported="false"
            android:process=":others" />
        <service
            android:name=".internal.module.patch.PatchManagerTestDeployService"
            android:enabled="true"
            android:exported="false"
            android:process=":patch" />
        <service
            android:name=".internal.module.oat.OatManagerTestMainService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".internal.module.oat.OatManagerTestDeployService"
            android:enabled="true"
            android:exported="false"
            android:process=":patch" />
        <service
            android:name=".internal.module.layout.PatchLayoutConstructorTestMainService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".internal.module.layout.PatchLayoutConstructorTestOthersService"
            android:enabled="true"
            android:exported="false"
            android:process=":others" />
        <service
            android:name=".internal.module.layout.PatchLayoutConstructorTestDeployService"
            android:enabled="true"
            android:exported="false"
            android:process=":patch" />
    </application>

</manifest>