<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tinker.test">

    <application
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme">
        <service
            android:name=".internal.TinkerPatchManagerTestMainService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".internal.TinkerPatchManagerTestOthersService"
            android:process=":others"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".internal.TinkerPatchManagerTestPatchService"
            android:process=":patch"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".internal.modules.oat.TinkerOatManagerTestMainService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".internal.modules.oat.TinkerOatManagerTestPatchService"
            android:process=":patch"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>