<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tinker.lib">

    <application>
        <service
            android:name=".service.TinkerPatchForeService"
            android:enabled="true"
            android:process=":patch"
            android:exported="false"/>
        <!--
            Notice:
            Following service must run in the same process.
              TinkerPatchService
              TinkerPatchService$InnerService
        -->
        <!-- ########################################################################### -->
        <service
            android:name=".service.TinkerPatchService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":patch" />
        <service
            android:name=".service.TinkerPatchService$InnerService"
            android:exported="false"
            android:process=":patch" /> <!-- ########################################################################### -->
        <service
            android:name=".service.DefaultTinkerResultService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>