<manifest package="com.tencent.tinker.lib"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!--
            Notice:
            Following service must run in the same process.
              TinkerPatchService$IntentServiceRunner
              TinkerPatchService$IntentServiceRunner$InnerService
              TinkerPatchService$JobServiceRunner
        -->
        <!-- ########################################################################### -->
        <service
            android:name=".service.TinkerPatchService$IntentServiceRunner"
            android:exported="false"
            android:process=":patch"/>
        <service
            android:name=".service.TinkerPatchService$IntentServiceRunner$InnerService"
            android:exported="false"
            android:process=":patch"/>
        <service
            android:name=".service.TinkerPatchService$JobServiceRunner"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:process=":patch"/>
        <!-- ########################################################################### -->

        <service
            android:name=".service.DefaultTinkerResultService"
            android:exported="false"/>

    </application>

</manifest>
